# Archivos y directorios de Cabal/Stack
/dist-newstyle/
/dist/
cabal-state/
cabal.project.local
.cache/
*.hi
*.o
.stack-work/
build/
.cache/
.autogen/


# Build artifacts (artefactos de compilación)
*.o
*.hi
*.dyn_hi
*.dyn_o
*.tix

# Executables (Ejecutables)
*.exe
/app/Juego # Si el ejecutable se llama 'Juego' y se genera en /app/

# Archivos de la librería (si usas la carpeta src)
*.a
*.so
*.dylib
libHS*

# Entornos de desarrollo
.vscode/
.hie/
.ghci
