# Directorios de compilación de Cabal/Stack
/dist/
/dist-newstyle/
.stack-work/

# Archivos de configuración local de Cabal
cabal.project.local
cabal.project.freeze

# Archivos de objeto (linking) y caché
*.o
*.hi
*.dyn_hi     # Archivos de enlace dinámico (causan muchos problemas)
*.dyn_o

# Archivos de prueba y temporales
*.tix
*.hpc
*~

# Ejecutables (Windows/Linux)
*.exe
*.out